.card {
    border: 2px solid gray;
    width: 300px;
    padding: 10px;
    color: black;
    background-color: rgb(222, 220, 219);
    font-weight: bold;
  }
  
.card img {
    width: 100%;
    height: 200px;   
}